h1 {
    color: mistyrose;
    font-family: Arial, Helvetica, sans-serif;
    background-color: deeppink;
    border-radius: 5%;
    margin: 15px;
    padding: 5px;
}

h2 {
    color: mistyrose;
    font-family: Arial, Helvetica, sans-serif;
    background-color: paleturquoise;
    border-radius: 5%;
    margin: 15px;
    padding: 5px;
}

button {
    background-color: hotpink;
    color: mistyrose;
    border: none;
    text-align: center;
    display: inline-block;
    transition-duration: 0.2s;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 100%;
}

body {
    color: deeppink;
    background-color: floralwhite;
    font-family: 'Courier New', Courier, monospace;
    min-width: fit-content;
    max-height: fit-content;
    margin: 15px;
}

.July {
    background-color: mistyrose;
    width: -100px;
}

footer {
    color: deeppink;
    background-color:lightpink;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;  
    border-radius: 5%;
    margin: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: white;
    background-color: rgba(0,0,0,0.2);
}

.modal-content {
    position: fixed;
    bottom: 0;
    background-color: plum;
    width: 100%;
}

.close {
  color: black; 
  float:right;
}

.close:hover,
.close:focus { 
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: auto;
    background-color: paleturquoise;
    color: mistyrose;
}

.modal-body {
    padding: auto;
}

.modal-footer {
    padding: auto;
    background-color: paleturquoise;
    color: mistyrose;
}

.calendar {
    background-color: paleturquoise;
    border: solid;
}











